.navbar {
    margin: 0;
    padding: 0;
  }
  
  
  .navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

  .brand-name {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    margin-left: 1rem;
  }
  
  .navigation-menu {
    margin-left: auto;
  }
  
  .navbar-item {
    margin: 0 20px;
  }
  
  .navbar-link {
    color: #333;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar-link:hover {
    color: grey;
  }
  
  .navbar-link.active {
    color: grey;
    border-bottom: 3px solid grey;
  }

  .pageTitle {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    text-decoration: none !important;
    color: black;
    padding: 20px;
    font-size: 40px;
}
  
@media only screen and (max-width: 600px) {

  .pageTitle {
    text-align: center !important;
    align-items: center !important;
    top: 50%;
    left: 50%;
    margin: 0;
  }
  .navbar-item {
    font-size: 10px;
  }
  
}